<!-- ========================== -->
<!-- PORTFOLIO - HEADER -->
<!-- ========================== -->
<section class="top-header portfolio-header with-bottom-effect transparent-effect dark dark-strong">
  <div class="bottom-effect"></div>
  <div class="header-container">
    <div class="header-title">
      <div class="header-icon"><span class="icon icon-Wheelbarrow"></span></div>
      <div class="title">works</div>
      <em>Lorem ipsum dolor amet consect</em>
    </div>
  </div>
  <!--container-->
</section>

<section class="portfolio-list-section">
  <div class="container">
    <div class="section-heading">
      <div class="section-subtitle">Lorem ipsum dolor sit amet consectetur elit</div>
      <div class="design-arrow"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs content-tabs" role="tablist">
          <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">all</a></li>
          <li role="presentation" class="active"><a href="#webDesign" aria-controls="webDesign" role="tab"
              data-toggle="tab">web design</a></li>
          <li role="presentation"><a href="#print" aria-controls="print" role="tab" data-toggle="tab">print</a></li>
          <li role="presentation"><a href="#animation" aria-controls="animation" role="tab"
              data-toggle="tab">animation</a></li>
        </ul>
      </div>
    </div>
    <div class="row">

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane " id="all">
          <div class="list-works mini-list-works clearfix">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img3.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">Soda cup</div>
                  <div class="under-name">Branding</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>91</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img7.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">business cards</div>
                  <div class="under-name">Print</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>25</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img6.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">iMac web</div>
                  <div class="under-name">Web Design</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>35</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img4.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">Dahla 160</div>
                  <div class="under-name">Video</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>8</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <a href="#" class="btn btn-default">LOAD MORE</a>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="webDesign">
          <div class="list-works mini-list-works clearfix">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img3.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">Soda cup</div>
                  <div class="under-name">Branding</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>91</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img7.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">business cards</div>
                  <div class="under-name">Print</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>25</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img6.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">iMac web</div>
                  <div class="under-name">Web Design</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>35</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img5.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">Apple Watch</div>
                  <div class="under-name">Technology</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>20</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img2.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">Mockup book</div>
                  <div class="under-name">PSD</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>16</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img8.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">photo frame</div>
                  <div class="under-name">Animation</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>49</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img9.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">T-shirt design</div>
                  <div class="under-name">Branding</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>32</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img4.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">Dahla 160</div>
                  <div class="under-name">Video</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>8</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <a href="#" class="btn btn-default">LOAD MORE</a>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="print">
          <div class="list-works mini-list-works clearfix">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img2.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">Mockup book</div>
                  <div class="under-name">PSD</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>16</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img8.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">photo frame</div>
                  <div class="under-name">Animation</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>49</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img9.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">T-shirt design</div>
                  <div class="under-name">Branding</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>32</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img4.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">Dahla 160</div>
                  <div class="under-name">Video</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>8</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <a href="#" class="btn btn-default">LOAD MORE</a>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="animation">
          <div class="list-works mini-list-works clearfix">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img2.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">Mockup book</div>
                  <div class="under-name">PSD</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>16</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img8.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">photo frame</div>
                  <div class="under-name">Animation</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>49</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img9.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">T-shirt design</div>
                  <div class="under-name">Branding</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>32</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="portfolio-item">
                <div class="portfolio-image">
                  <a href="#"><img src="assets/img/img7.jpg" alt=""></a>
                  <div class="portfolio-item-body center-body">
                    <ul>
                      <li><a href="#"><span class="icon icon-Search"></span></a></li>
                      <li><a href="#"><span class="icon icon-Info"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="portfolio-item-footer">
                  <div class="name">business cards</div>
                  <div class="under-name">Print</div>
                  <div class="views"><span class="icon icon-Eye"></span><span>25</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <a href="#" class="btn btn-default">LOAD MORE</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- ========================== -->
<!-- PORTFOLIO - BEAUTIFUL IDEAS -->
<!-- ========================== -->
<section class="beautiful-ideas-section with-icon">
  <div class="section-icon"><span class="icon icon-Umbrella"></span></div>
  <div class="container">
    <div class="section-heading">
      <div class="section-title">We craft Beautiful brands</div>
      <div class="section-subtitle">Lorem ipsum dolor sit amet consectetur elit</div>
    </div>
  </div>
  <div class="container text-center">
    <img src="assets/img/table-mac.png" class="mac-image img-responsive" alt="" />
  </div>
</section>
