$primary: rgb(219, 174, 88) !default;
$secondary: rgb(219, 206, 88) !default;
$dark: rgb(219, 140, 88) !default;
$accent: rgb(219, 88, 174) !default;
$black: rgb(30, 30, 30) !default;
$white: rgb(255,255,255) !default;

$bg-primary: $primary !default;
$bg-secondary: $secondary !default;
$bg-primary-dark: $dark !default;
$bg-dark: $dark !default;
$bg-light: $white !default;

$text-primary: $primary !default;
$text-secondary: Secondary !default;
$text-accent: $accent !default;
$text-light: $white !default;
$text-dark: $black !default;
/* ========================================
Hamburgers variables
*/
$hamburger-padding-x : 0 !default;
$hamburger-padding-y : 7.5px !default;
$hamburger-layer-width : 30px !default;
$hamburger-layer-height : 2px !default;
$hamburger-layer-spacing : 4px !default;
$hamburger-layer-color : $primary !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity : 0.7 !default;
$hamburger-active-layer-color : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter : false !default;
$hamburger-hover-filter : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;
