<div id="page-preloader" *ngIf="isLoading"><span class="spinner"></span></div>

  <!-- ========================== -->
  <!-- Navigation -->
  <!-- ========================== -->
  <header #topNav class="header scrolling-header" [ngClass]="searchPanelOpen ? 'search-open':''">
    <nav id="nav" class="navbar navbar-fixed-top justify-content-center align-items-center" role="navigation">
      <a class="navbar-brand scroll" routerLink="/" data-aos="fade-down" data-aos-delay="900">
        <img class="normal-logo" width="200px" src="assets/img/logo.png" alt="logo" />
        <!-- <img class="scroll-logo d-xs-none" width="50" src="assets/img/logo-small.png" alt="logo" />
        <img class="scroll-logo d-md-none" width="40" src="assets/img/logo-small.png" alt="logo" /> -->
      </a>
      <!-- <div class="d-flex w-100 justify-content-start">
        <button class="toggle-button hamburger hamburger--collapse d-xs-block d-md-none" [ngClass]="mobileMenuOpen ? 'is-active':''" type="button" (click)="toggleMobileMenu()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="col-4 mx-auto">
          <a class="navbar-brand scroll" routerLink="/home" data-aos="fade-down" data-aos-delay="900">
            <img class="normal-logo d-xs-none" width="200px" src="assets/img/logo.png" alt="logo" />
            <img class="scroll-logo d-xs-none" width="50" src="assets/img/logo-small.png" alt="logo" />
            <img class="scroll-logo d-xs-none" width="40" src="assets/img/logo-small.png" alt="logo" />
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right nav-icons wrap-user-control">
          <li>
            <button id="search-open" class="btn btn-link" (click)="toggleSearchPanel()"><i class="fa fa-search"></i></button>
          </li>
          <li class="open-signup">
            <a href="#fakelink" class=""><i class="fa fa-user"></i></a>
          </li>
        </ul>
        <div class="navbar-collapse col-6 ml-auto" [ngClass]="[mobileMenuOpen ? topNav.clientWidth > 760 ? 'in open':'collapse':'']" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-with-inside navbar-right with-border">
            <li>
              <a routerLink="/home" routerLinkActive="active">home</a>
            </li>
            <li>
              <a routerLink="/portfolio" routerLinkActive="active">portfolio</a>
            </li>
            <li>
              <a routerLink="/about" routerLinkActive="active">about</a>
            </li>
            <li><a routerLink="/services" routerLinkActive="active">services</a></li>
            <li>
              <a routerLink="/blog" routerLinkActive="active">Blog</a>
            </li>
            <li>
              <a routerLink="/contact" routerLinkActive="active">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form>
            <div class="input-group">
              <input type="text" placeholder="Type your search..." class="form-control" autocomplete="off">
              <span class="input-group-btn">
                <button type="reset" class="btn search-close btn-primary" id="search-close" (click)="toggleSearchPanel()">
                  <i class="fa fa-close"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div> -->
    </nav>
  </header>
  <!--./navigation -->
<main class="main">
  <router-outlet></router-outlet>
</main>

  <!-- ========================== -->
  <!-- FOOTER -->
  <!-- ========================== -->
  <footer>
    <!-- ========================== -->
    <!-- BUY SECTION -->
    <!-- ========================== -->
    <section class="buy-section with-icon">
      <div class="section-icon"><span class="icon icon-Umbrella"></span></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-1 col-sm-9 wow fadeInLeft">
            <div class="section-text">
              <div class=" vcenter like">
                <span class="icon icon-Like"></span>
              </div>
              <div class="buy-text vcenter">
                <div class="top-text">Sure Marketing Solutions - a digital marketing agency</div>
                <div class="bottom-text">Small Business Strategies and Solutions</div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="#" class="btn btn-info ">Free Consultation</a>
          </div>
        </div>
      </div>
    </section>
    <!-- ========================== -->
    <!-- FOOTER - SOCIAL -->
    <!-- ========================== -->
    <section class="social-section dark dark-strong">
      <div class="container dark-content">
        <div class="tt">We are social 24/7 - Get in touch</div>
        <ul class="list-socials">
          <li><a href="https://twitter.com/sms_ohio" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://facebook.com/suremarketingsolutions" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/company/sure-marketing-solutions" target="_blank"><i class="fa fa-linkedin" target="_blank"></i></a></li>
          <li><a href="https://instagram.com/suremarketingsolutions" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </section>

    <!-- ========================== -->
    <!-- FOOTER - FOOTER -->
    <!-- ========================== -->
    <!-- TODO: Complete domain links routing [FAQ, Get Help] -->
    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <h5>about us</h5>
            <p>Sure Marketing Solutions is a digital marketing agency specializing in helping small businesses reach their full potential using the latest tools, techniques and practices.</p>
          </div>
          <!-- <div class="col-md-3 col-sm-3">
            <h5>Sitemap</h5>
            <div class="row">
              <div class="col-md-6">
                <ul class="footer-nav">
                  <li><a routerLink="/about">About Us</a></li>
                  <li><a routerLink="/portfolio">Portfolio</a></li>
                  <li class=""><a routerLink="/blog">Latest News</a></li>
                  <li><a routerLink="/contact">Contact us</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="footer-nav">
                  <li><a href="#">Get Help</a></li>
                  <li><a routerLink="/contact">Careers</a></li>
                  <li><a href="#">FAQ's</a></li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="col-md-3 col-sm-3">
            <h5>Contact info</h5>
            <ul class="contacts-list">
              <li>
                <p><i class="icon icon-House"></i>843 Fairbanks Ave. Newark, OH 43055</p>
              </li>
              <li>
                <p><i class="icon icon-Phone2"></i><a href="tel:+16144524916">614 452 4916</a></p>
              </li>
              <li>
                <p><i class="icon icon-Mail"></i><a href="mailto:info@suremarketingsolutions.com">info@suremarketingsolutions.com</a> </p>

              </li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-3">
            <h5>Want to know More?</h5>
            <p>
              Subscribe for latest updates
              about SURE MARKETING SOLUTIONS
            </p>
            <form name="smallSubscriberForm" #subscriberForm="ngForm" class="form-group has-feedback">
              <input #subscriber="ngModel" [(ngModel)]="subscriberModel.email" name="email" type="email" class="form-control mb-3" placeholder="Email address ..." required>
              <button style="cursor: pointer;" class="mr-0 btn btn-xs btn-light" [disabled]="subscriberForm.errors" (click)="addSubscriber(subscriberModel.email, subscriberForm)">
                subscribe
                <i class="icon icon-Mail form-control-feedback"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="copyright-section">
      <p>©2019<span>Sure Marketing Solutions LLC </span>. All Rights Reserved</p>
    </section>
  </footer>

<button class="btn btn-link circle back-to-top" data-aos="fade-up" data-aos-offest="800" data-aos-once="false"
  (click)="backToTop()"><i class="fa fa-chevron-up"></i></button>

<!-- <ng-template #modalContent>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Modal body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template> -->
