<!-- ========================== -->
<!-- BLOG - HEADER -->
<!-- ========================== -->
<section class="top-header blog-header with-bottom-effect transparent-effect dark dark-strong">
  <div class="bottom-effect"></div>
  <div class="header-container wow fadeInUp">
    <div class="header-title">
      <div class="header-icon"><span class="icon icon-Wheelbarrow"></span></div>
      <div class="title">latest news</div>
      <em>Lorem ipsum dolor amet consect</em>
    </div>
  </div>
  <!--container-->
</section>



<!-- ========================== -->
<!-- BLOG - CONTENT -->
<!-- ========================== -->
<section class="blog-content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 left-column">
        <!-- Blog post-->
        <div class="wrap-blog-post wow fadeInUp">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="assets/img/blog/slider-image1.jpg" class="img-responsive" alt="" />
              </div>
              <div class="item">
                <img src="assets/img/blog/slider-image1.jpg" class="img-responsive" alt="" />
              </div>
              <div class="item">
                <img src="assets/img/blog/slider-image1.jpg" class="img-responsive" alt="" />
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="wrap-post-description">
            <a class="post-avatar" href="#fakelink">
              <img class="" src="assets/img/avatars/img1.png" alt="avatar">
            </a>
            <div class="meta">
              <div class="meta-item"><span class="icon icon-Tag"></span>MOBile ui, creative, Team</div>
              <div class="meta-item"><span class="icon icon-Agenda"></span>26 SEP</div>
              <div class="meta-item"><span class="icon icon-Eye"></span>32 views</div>
            </div>
          </div>
          <div class="post-body">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Amco laboris nisi ut aliquip xea commodo consequt. Duis aute irure dolor reprehenderit voluptate velit
              esla fugit lore ipsum dolor sit
              consectetur adipisicing elit sed do eiusmod tempor incididunt bore aliqua ute enim ad mid veniam quis
              nostrud exercitationullamco.
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod.
            </p>

            <div class="row">
              <div class="col-md-12 clearfix">
                <a href="index.html" class="btn btn-primary   pull-left">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--blog-post-->

        <!-- Blog post-->
        <div class="wrap-blog-post wow fadeInUp">
          <div class="wrap-image">
            <img class="img-responsive" src="assets/img/blog/image1.jpg" alt="" />
          </div>
          <div class="wrap-post-description">
            <a class="post-avatar" href="#fakelink">
              <img class="" src="assets/img/avatars/img2.png" alt="avatar">
            </a>
            <div class="meta">
              <div class="meta-item"><span class="icon icon-Tag"></span>MOBile ui, creative, Team</div>
              <div class="meta-item"><span class="icon icon-Agenda"></span>26 SEP</div>
              <div class="meta-item"><span class="icon icon-Eye"></span>32 views</div>
            </div>
          </div>
          <div class="post-body">
            <h2>consect etur adipisicing elit sed do</h2>
            <p>Amco laboris nisi ut aliquip xea commodo consequt. Duis aute irure dolor reprehenderit voluptate velit
              esla fugit lore ipsum dolor sit
              consectetur adipisicing elit sed do eiusmod tempor incididunt bore aliqua ute enim ad mid veniam quis
              nostrud exercitationullamco.
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod.
            </p>

            <div class="row">
              <div class="col-md-12 clearfix">
                <a href="index.html" class="btn btn-primary   pull-left">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--blog-post-->

        <!-- Blog post-->
        <div class="wrap-blog-post wow fadeInUp">
          <div class="wrap-video">
            <img class="img-responsive" src="assets/img/blog/image2.jpg" alt="" />
            <div class="play-video">
              <span></span>
            </div>
          </div>
          <div class="wrap-post-description">
            <a class="post-avatar" href="#fakelink">
              <img class="" src="assets/img/avatars/img2.png" alt="avatar">
            </a>
            <div class="meta">
              <div class="meta-item"><span class="icon icon-Tag"></span>MOBile ui, creative, Team</div>
              <div class="meta-item"><span class="icon icon-Agenda"></span>26 SEP</div>
              <div class="meta-item"><span class="icon icon-Eye"></span>32 views</div>
            </div>

          </div>
          <div class="post-body">

            <h2>minim veniam quis nostrud ullamco</h2>
            <p>Amco laboris nisi ut aliquip xea commodo consequt. Duis aute irure dolor reprehenderit voluptate velit
              esla fugit lore ipsum dolor sit
              consectetur adipisicing elit sed do eiusmod tempor incididunt bore aliqua ute enim ad mid veniam quis
              nostrud exercitationullamco.
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod.
            </p>

            <div class="row">
              <div class="col-md-12 clearfix">
                <a href="index.html" class="btn btn-primary   pull-left">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--blog-post-->


        <!-- Blog post-->
        <div class="wrap-blog-post wow fadeInUp">
          <div class="wrap-linked-image">
            <img class="img-responsive" src="assets/img/blog/image3.jpg" alt="" />
            <a href="http://www.themeforest.net" target="_blank">
              <span class="icon icon-Unlinked"></span>
              www.themeforest.net
            </a>
          </div>
          <div class="wrap-post-description">
            <a class="post-avatar" href="#fakelink">
              <img class="" src="assets/img/avatars/img1.png" alt="avatar">
            </a>

          </div>
        </div>
        <!--blog-post-->


        <!-- Blog post-->
        <div class="wrap-blog-post wow fadeInUp">
          <div class="wrap-image">
            <img class="img-responsive" src="assets/img/blog/image4.jpg" alt="" />
          </div>
          <div class="wrap-post-description">
            <a class="post-avatar" href="#fakelink">
              <img class="" src="assets/img/avatars/img2.png" alt="avatar">
            </a>
            <div class="meta">
              <div class="meta-item"><span class="icon icon-Tag"></span>MOBile ui, creative, Team</div>
              <div class="meta-item"><span class="icon icon-Agenda"></span>26 SEP</div>
              <div class="meta-item"><span class="icon icon-Eye"></span>32 views</div>
            </div>
          </div>
          <div class="post-body">
            <h2>eiusmod tempor incididunt labore et</h2>
            <p>Amco laboris nisi ut aliquip xea commodo consequt. Duis aute irure dolor reprehenderit voluptate velit
              esla fugit lore ipsum dolor sit
              consectetur adipisicing elit sed do eiusmod tempor incididunt bore aliqua ute enim ad mid veniam quis
              nostrud exercitationullamco.
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod.
            </p>

            <div class="row">
              <div class="col-md-12 clearfix">
                <a href="index.html" class="btn btn-primary   pull-left">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--blog-post-->

        <div class="row wrap-pagination wow fadeInUp">
          <div class="col-md-12">
            <ul class="pagination-list clearfix">
              <li><a href="#"><i class="fa-chevron-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-lg-offset-1 col-md-4  sidebar">

        <!-- SEARCH -->
        <div class="form-group search has-feedback wow fadeInUp" data-wow-duration="2s">
          <form>
            <input class="form-control " placeholder="SEARCH">
            <i class="icon icon-Search form-control-feedback"></i>
          </form>
        </div>

        <div class="sidebar-box wow fadeInUp">
          <h5>Categories</h5>
          <div class="sidebar-box-content">
            <ul class="category-list">
              <li><a href="#">Business Analysis</a></li>
              <li><a href="#">Web Design Development</a></li>
              <li><a href="#">Modern Layouts</a></li>
              <li><a href="#">3D Animation</a></li>
              <li><a href="#">Free PSD Graphics</a></li>
            </ul>
          </div>
        </div>


        <div class="sidebar-box wow fadeInUp">
          <h5>recent posts</h5>
          <div class="sidebar-box-content">
            <div class="recent-posts">
              <div class="post-item">
                <div class="image">
                  <a href="#">
                    <img src="assets/img/blog/image5.jpg" alt="" />
                  </a>
                </div>
                <h5>Lorem ipsum dolor sit </h5>
                <div class="meta-item"><span class="icon icon-Agenda"></span>September 06, 2015</div>
              </div>
              <div class="post-item">
                <div class="image">
                  <a href="#">
                    <img src="assets/img/blog/image6.jpg" alt="" />
                  </a>
                </div>
                <h5>amet conseca dipisicing</h5>
                <div class="meta-item"><span class="icon icon-Agenda"></span>September 06, 2015</div>
              </div>
              <div class="post-item">
                <div class="image">
                  <a href="#">
                    <img src="assets/img/blog/image7.jpg" alt="" />
                  </a>
                </div>
                <h5>tempor incididunt labore et </h5>
                <div class="meta-item"><span class="icon icon-Agenda"></span>September 06, 2015</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sidebar-box wow fadeInUp">
          <h5>Instagram</h5>
          <ul class="list-social">
            <li><a href="#"><img src="assets/img/blog/mini-img1.jpg" alt="" /></a></li>
            <li><a href="#"><img src="assets/img/blog/mini-img2.jpg" alt="" /></a></li>
            <li><a href="#"><img src="assets/img/blog/mini-img3.jpg" alt="" /></a></li>
            <li><a href="#"><img src="assets/img/blog/mini-img4.jpg" alt="" /></a></li>
            <li><a href="#"><img src="assets/img/blog/mini-img5.jpg" alt="" /></a></li>
            <li><a href="#"><img src="assets/img/blog/mini-img6.jpg" alt="" /></a></li>
          </ul>
        </div>

        <div class="sidebar-box wow fadeInUp">
          <h5>tags cloud</h5>
          <ul class="list-tags">
            <li><a href="#" class="btn btn-primary-warning">designing</a></li>
            <li><a href="#" class="btn btn-primary-warning">Development</a></li>
            <li><a href="#" class="btn btn-primary-warning">photography</a></li>
            <li><a href="#" class="btn btn-primary-warning">website</a></li>
            <li><a href="#" class="btn btn-primary-warning">ALL PROJECTS</a></li>
            <li><a href="#" class="btn btn-primary-warning">SEO</a></li>
            <li><a href="#" class="btn btn-primary-warning">responsive</a></li>
            <li><a href="#" class="btn btn-primary-warning">ecommerce</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
